html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}


.navbar {
  
  background-color: #ebebeb;  
  height: 75px;
  display: flex;
  gap: 10px;

}


a {
  font-size: large;
  padding: 4px;
  border-radius: 2px;
  
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  color: white;
  height: 250px; 
  text-align: center;
  padding: 0%;
  background-image: url("cover.jpg");
}

.col {
  padding-bottom: 20px;
}

strong {
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

input.form-control {
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

.btn-create {
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

.card {
  border-color: black;
}